.my-holder {
  z-index: 1000;
  width: 50% !important;
  background-color: black;
}

.text-holder {
  font-family: 'Montserrat', sans-serif;
}

.match-profile-image {
  height: 250px;
  width: 250px;
  border-radius: 300px;
  border-style: solid;
  border: 6px solid whitesmoke;
}

.match-image {
  height: 250px;
  width: 250px;
  border-radius: 300px;
  border-style: solid;
  border: 6px solid whitesmoke;
}

.userimage {
  border: 6px solid black;
  -webkit-filter: invert(50);
          filter: invert(50);
}

.match-user-image {
  height: 250px;
  width: 250px;
  border-radius: 300px;
  border-style: solid;
  border: 6px solid black;
  -webkit-filter: invert(50);
          filter: invert(50);
}

.redirect-button {
  cursor: pointer;
  font-size: 1.1rem;
  color: #fff;
  outline: none;
  border: none;
  font-weight: 700;
  border-radius: 5px;
  padding-left: 3.4rem;
  padding-right: 3.4rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: #706f6f;
  -webkit-transition: .25s;
  transition: .25s;
}

.redirect-button:hover {
  background-color: #252525;
  color: #00a984;
}

.swipe-button {
  /* display: inline-block; */
  cursor: pointer;
  font-size: 1.1rem;
  color: #fff;
  outline: none;
  border: none;
  font-weight: 700;
  border-radius: 5px;
  padding-left: 3.4rem;
  padding-right: 3.4rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: #706f6f;
  -webkit-transition: .25s;
  transition: .25s;
}

.swipe-button:hover {
  background-color: #252525;
  color: salmon;
}

.hidden {
  display: hidden;
}

@-webkit-keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.itsamatch {
  font-family: 'Nosifer', cursive;
  font-size: 500%;
}

.match-subtitle {
  font-size: 200%;
  text-transform: uppercase;
}

.match-images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.fireworks {
  margin-left: -100%;
  padding: 0;
  overflow: hidden;
}

.pyro > .before, .pyro > .after {
  position: absolute;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  -webkit-box-shadow: 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff;
          box-shadow: 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff;
  z-index: 10;
  -webkit-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
  animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
}

.pyro > .after {
  -webkit-animation-delay: 1.25s, 1.25s, 1.25s;
  animation-delay: 1.25s, 1.25s, 1.25s;
  -webkit-animation-duration: 1.25s, 1.25s, 6.25s;
  animation-duration: 1.25s, 1.25s, 6.25s;
}

@-webkit-keyframes bang {
  to {
    -webkit-box-shadow: 158px -73.33333px #f700ff, -42px -105.33333px #0084ff, -204px -304.33333px #7bff00, 72px -86.33333px #ff00bb, -10px -267.33333px #9d00ff, -204px -296.33333px #0dff00, -77px -74.33333px #5100ff, 212px -175.33333px #40ff00, 167px -175.33333px #00ff1a, 219px -153.33333px #ff2f00, 60px -307.33333px #00ff11, -168px 61.66667px #00ff62, -177px -38.33333px #3700ff, -230px -314.33333px #ff00d9, -226px -65.33333px #00bbff, -177px -32.33333px #a6ff00, -131px -87.33333px #ff00a6, -117px 10.66667px #00ffc8, -114px -217.33333px #ff0066, -127px -95.33333px #5900ff, -181px -43.33333px #ff2200, -26px -200.33333px #ff0059, -158px -320.33333px #c800ff, -14px -167.33333px #ff9900, 198px -164.33333px #ff00a6, -115px -56.33333px #3c00ff, 103px -8.33333px #ffa200, -202px -143.33333px #005eff, -145px -161.33333px #0077ff, 107px 1.66667px #00ff7b, -53px -104.33333px magenta, 138px -204.33333px #0011ff, 143px -320.33333px #ffaa00, -17px -174.33333px #00ffb3, -107px -294.33333px #5e00ff, 151px -12.33333px #5900ff, 111px -289.33333px #ff002f, 111px -106.33333px #ff7700, -165px -48.33333px #d900ff, 8px -136.33333px #ffe100, -68px -216.33333px #009dff, 32px 18.66667px #0d00ff, -75px -136.33333px #00ff1e, 247px -28.33333px #f700ff, -116px -79.33333px #ff0095, -10px -138.33333px #00ff1a, 160px -122.33333px #ff0040, -187px 12.66667px #ffbf00, -52px -135.33333px #00ff7b, 231px -203.33333px lime, -211px -147.33333px #ffaa00, -152px -175.33333px #ff4000, -16px -315.33333px #d000ff, -60px 30.66667px #fffb00, 146px -55.33333px #00ff88, 5px -165.33333px #ff0051, 89px 66.66667px #e1ff00, 60px -309.33333px #9100ff, 88px 61.66667px #ffb700, 0px -152.33333px #ff0055, -47px 30.66667px red;
            box-shadow: 158px -73.33333px #f700ff, -42px -105.33333px #0084ff, -204px -304.33333px #7bff00, 72px -86.33333px #ff00bb, -10px -267.33333px #9d00ff, -204px -296.33333px #0dff00, -77px -74.33333px #5100ff, 212px -175.33333px #40ff00, 167px -175.33333px #00ff1a, 219px -153.33333px #ff2f00, 60px -307.33333px #00ff11, -168px 61.66667px #00ff62, -177px -38.33333px #3700ff, -230px -314.33333px #ff00d9, -226px -65.33333px #00bbff, -177px -32.33333px #a6ff00, -131px -87.33333px #ff00a6, -117px 10.66667px #00ffc8, -114px -217.33333px #ff0066, -127px -95.33333px #5900ff, -181px -43.33333px #ff2200, -26px -200.33333px #ff0059, -158px -320.33333px #c800ff, -14px -167.33333px #ff9900, 198px -164.33333px #ff00a6, -115px -56.33333px #3c00ff, 103px -8.33333px #ffa200, -202px -143.33333px #005eff, -145px -161.33333px #0077ff, 107px 1.66667px #00ff7b, -53px -104.33333px magenta, 138px -204.33333px #0011ff, 143px -320.33333px #ffaa00, -17px -174.33333px #00ffb3, -107px -294.33333px #5e00ff, 151px -12.33333px #5900ff, 111px -289.33333px #ff002f, 111px -106.33333px #ff7700, -165px -48.33333px #d900ff, 8px -136.33333px #ffe100, -68px -216.33333px #009dff, 32px 18.66667px #0d00ff, -75px -136.33333px #00ff1e, 247px -28.33333px #f700ff, -116px -79.33333px #ff0095, -10px -138.33333px #00ff1a, 160px -122.33333px #ff0040, -187px 12.66667px #ffbf00, -52px -135.33333px #00ff7b, 231px -203.33333px lime, -211px -147.33333px #ffaa00, -152px -175.33333px #ff4000, -16px -315.33333px #d000ff, -60px 30.66667px #fffb00, 146px -55.33333px #00ff88, 5px -165.33333px #ff0051, 89px 66.66667px #e1ff00, 60px -309.33333px #9100ff, 88px 61.66667px #ffb700, 0px -152.33333px #ff0055, -47px 30.66667px red;
  }
}

@keyframes bang {
  to {
    -webkit-box-shadow: 158px -73.33333px #f700ff, -42px -105.33333px #0084ff, -204px -304.33333px #7bff00, 72px -86.33333px #ff00bb, -10px -267.33333px #9d00ff, -204px -296.33333px #0dff00, -77px -74.33333px #5100ff, 212px -175.33333px #40ff00, 167px -175.33333px #00ff1a, 219px -153.33333px #ff2f00, 60px -307.33333px #00ff11, -168px 61.66667px #00ff62, -177px -38.33333px #3700ff, -230px -314.33333px #ff00d9, -226px -65.33333px #00bbff, -177px -32.33333px #a6ff00, -131px -87.33333px #ff00a6, -117px 10.66667px #00ffc8, -114px -217.33333px #ff0066, -127px -95.33333px #5900ff, -181px -43.33333px #ff2200, -26px -200.33333px #ff0059, -158px -320.33333px #c800ff, -14px -167.33333px #ff9900, 198px -164.33333px #ff00a6, -115px -56.33333px #3c00ff, 103px -8.33333px #ffa200, -202px -143.33333px #005eff, -145px -161.33333px #0077ff, 107px 1.66667px #00ff7b, -53px -104.33333px magenta, 138px -204.33333px #0011ff, 143px -320.33333px #ffaa00, -17px -174.33333px #00ffb3, -107px -294.33333px #5e00ff, 151px -12.33333px #5900ff, 111px -289.33333px #ff002f, 111px -106.33333px #ff7700, -165px -48.33333px #d900ff, 8px -136.33333px #ffe100, -68px -216.33333px #009dff, 32px 18.66667px #0d00ff, -75px -136.33333px #00ff1e, 247px -28.33333px #f700ff, -116px -79.33333px #ff0095, -10px -138.33333px #00ff1a, 160px -122.33333px #ff0040, -187px 12.66667px #ffbf00, -52px -135.33333px #00ff7b, 231px -203.33333px lime, -211px -147.33333px #ffaa00, -152px -175.33333px #ff4000, -16px -315.33333px #d000ff, -60px 30.66667px #fffb00, 146px -55.33333px #00ff88, 5px -165.33333px #ff0051, 89px 66.66667px #e1ff00, 60px -309.33333px #9100ff, 88px 61.66667px #ffb700, 0px -152.33333px #ff0055, -47px 30.66667px red;
            box-shadow: 158px -73.33333px #f700ff, -42px -105.33333px #0084ff, -204px -304.33333px #7bff00, 72px -86.33333px #ff00bb, -10px -267.33333px #9d00ff, -204px -296.33333px #0dff00, -77px -74.33333px #5100ff, 212px -175.33333px #40ff00, 167px -175.33333px #00ff1a, 219px -153.33333px #ff2f00, 60px -307.33333px #00ff11, -168px 61.66667px #00ff62, -177px -38.33333px #3700ff, -230px -314.33333px #ff00d9, -226px -65.33333px #00bbff, -177px -32.33333px #a6ff00, -131px -87.33333px #ff00a6, -117px 10.66667px #00ffc8, -114px -217.33333px #ff0066, -127px -95.33333px #5900ff, -181px -43.33333px #ff2200, -26px -200.33333px #ff0059, -158px -320.33333px #c800ff, -14px -167.33333px #ff9900, 198px -164.33333px #ff00a6, -115px -56.33333px #3c00ff, 103px -8.33333px #ffa200, -202px -143.33333px #005eff, -145px -161.33333px #0077ff, 107px 1.66667px #00ff7b, -53px -104.33333px magenta, 138px -204.33333px #0011ff, 143px -320.33333px #ffaa00, -17px -174.33333px #00ffb3, -107px -294.33333px #5e00ff, 151px -12.33333px #5900ff, 111px -289.33333px #ff002f, 111px -106.33333px #ff7700, -165px -48.33333px #d900ff, 8px -136.33333px #ffe100, -68px -216.33333px #009dff, 32px 18.66667px #0d00ff, -75px -136.33333px #00ff1e, 247px -28.33333px #f700ff, -116px -79.33333px #ff0095, -10px -138.33333px #00ff1a, 160px -122.33333px #ff0040, -187px 12.66667px #ffbf00, -52px -135.33333px #00ff7b, 231px -203.33333px lime, -211px -147.33333px #ffaa00, -152px -175.33333px #ff4000, -16px -315.33333px #d000ff, -60px 30.66667px #fffb00, 146px -55.33333px #00ff88, 5px -165.33333px #ff0051, 89px 66.66667px #e1ff00, 60px -309.33333px #9100ff, 88px 61.66667px #ffb700, 0px -152.33333px #ff0055, -47px 30.66667px red;
  }
}

@-webkit-keyframes gravity {
  to {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    -o-transform: translateY(200px);
    -ms-transform: translateY(200px);
    opacity: 0;
  }
}

@keyframes gravity {
  to {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    -o-transform: translateY(200px);
    -ms-transform: translateY(200px);
    opacity: 0;
  }
}

@-webkit-keyframes position {
  0%, 19.9% {
    margin-top: 10%;
    margin-left: 40%;
  }
  20%, 39.9% {
    margin-top: 40%;
    margin-left: 30%;
  }
  40%, 59.9% {
    margin-top: 20%;
    margin-left: 70%;
  }
  60%, 79.9% {
    margin-top: 30%;
    margin-left: 20%;
  }
  80%, 99.9% {
    margin-top: 30%;
    margin-left: 80%;
  }
}

@keyframes position {
  0%, 19.9% {
    margin-top: 10%;
    margin-left: 40%;
  }
  20%, 39.9% {
    margin-top: 40%;
    margin-left: 30%;
  }
  40%, 59.9% {
    margin-top: 20%;
    margin-left: 70%;
  }
  60%, 79.9% {
    margin-top: 30%;
    margin-left: 20%;
  }
  80%, 99.9% {
    margin-top: 30%;
    margin-left: 80%;
  }
}
/*# sourceMappingURL=matchmodal.css.map */