.match-modal-container {
  border-radius: 30px;
  background-color: rgba(0, 0, 0, 0.75);
  width: 42.5%;
  position: absolute;
  -webkit-animation: fadeInAnimation ease .4s;
          animation: fadeInAnimation ease .4s;
  -webkit-animation-iteration-count: '1';
          animation-iteration-count: '1';
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  z-index: 1000;
  position: fixed;
}

.text-holder {
  font-family: 'Montserrat', sans-serif;
}

.match-profile-image {
  height: 250px;
  width: 250px;
  border-radius: 300px;
  border-style: solid;
  border: 6px solid whitesmoke;
}

.match-image {
  margin-top: 5%;
  margin-bottom: 5%;
  height: 250px;
  width: 250px;
  border-radius: 300px;
  border-style: solid;
  border: 6px solid whitesmoke;
}

.userimage {
  border: 6px solid black;
  -webkit-filter: invert(50);
          filter: invert(50);
}

.match-user-image {
  height: 250px;
  width: 250px;
  border-radius: 300px;
  border-style: solid;
  border: 6px solid black;
  -webkit-filter: invert(50);
          filter: invert(50);
}

.match-button {
  cursor: pointer;
  font-size: 130%;
  color: #fff;
  outline: none;
  border: none;
  font-weight: 700;
  border-radius: 2.5px;
  width: 50%;
  margin-bottom: 1.5%;
  padding-top: 1%;
  padding-bottom: 1%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  background-color: #706f6f;
  -webkit-transition: .25s;
  transition: .25s;
}

.redirect:hover {
  background-color: #252525;
  color: #00a984;
}

.keepswiping {
  margin-bottom: 5%;
}

.keepswiping:hover {
  background-color: #252525;
  color: salmon;
}

.hidden {
  display: hidden;
}

@-webkit-keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.itsamatch {
  padding-top: 5%;
  font-family: 'Nosifer', cursive;
  font-size: 500%;
}

.match-subtitle {
  font-size: 200%;
  text-transform: uppercase;
}

.match-images {
  margin-top: 1.5%;
  margin-bottom: 1.5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.fireworks {
  margin-left: -105%;
  margin-top: -.5%;
  top: 50;
  left: 50;
}

.pyro > .before, .pyro > .after {
  position: absolute;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  -webkit-box-shadow: 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff;
          box-shadow: 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff;
  z-index: 10;
  -webkit-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
  animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
}

.pyro > .after {
  -webkit-animation-delay: 1.25s, 1.25s, 1.25s;
  animation-delay: 1.25s, 1.25s, 1.25s;
  -webkit-animation-duration: 1.25s, 1.25s, 6.25s;
  animation-duration: 1.25s, 1.25s, 6.25s;
}

@-webkit-keyframes bang {
  to {
    -webkit-box-shadow: -166px -190.33333px #ff0066, 195px -10.33333px #001eff, 95px -310.33333px #ff0073, 15px 26.66667px #00ff9d, -54px -108.33333px magenta, -239px -206.33333px #00ff44, 113px 20.66667px #00ff73, 94px -149.33333px #ff000d, -2px -116.33333px #ff0048, -88px -95.33333px #00ff80, 145px -287.33333px #00ff2f, 138px -201.33333px #11ff00, -130px -177.33333px #ff1e00, 37px -35.33333px #ff007b, -81px -322.33333px #e6ff00, 207px -191.33333px #c400ff, -68px -100.33333px #ff6200, 77px -95.33333px #f7ff00, -113px -314.33333px #aeff00, -118px -204.33333px #ff2600, 169px -261.33333px #ff3300, -47px -47.33333px #eeff00, 201px -275.33333px #00ff1e, -13px -87.33333px #ffe100, 18px -18.33333px #ff2f00, -51px -242.33333px #04ff00, -202px -62.33333px #009dff, -164px -262.33333px #ff5e00, -236px -216.33333px #91ff00, 201px -176.33333px #2b00ff, -205px -60.33333px #ff0004, 131px -190.33333px #002bff, 37px -194.33333px #ff00ea, 240px -246.33333px #ff4000, -195px -41.33333px #bf00ff, 209px -248.33333px #c800ff, -63px -198.33333px #bf00ff, 104px -191.33333px #ffee00, -72px -235.33333px #fbff00, -113px -80.33333px #0015ff, -133px -38.33333px #00ff62, 95px -301.33333px #7b00ff, 97px -280.33333px #ff1100, -201px -278.33333px #bb00ff, 185px 33.66667px #ff8000, -131px -198.33333px #ff00a2, 223px -155.33333px #00ff88, -216px -278.33333px #0400ff, -118px -254.33333px #ff0088, -152px -256.33333px #ff6a00, -6px -267.33333px #00ff2f, -130px -43.33333px #40ff00, 14px 1.66667px #00ff6a, -123px 47.66667px #73ff00, 13px -128.33333px #0095ff, 138px -306.33333px #ff008c, 222px 46.66667px #a2ff00, 142px 42.66667px #0080ff, -113px -70.33333px #003cff, -200px 13.66667px #f7ff00, 235px -204.33333px #00bbff;
            box-shadow: -166px -190.33333px #ff0066, 195px -10.33333px #001eff, 95px -310.33333px #ff0073, 15px 26.66667px #00ff9d, -54px -108.33333px magenta, -239px -206.33333px #00ff44, 113px 20.66667px #00ff73, 94px -149.33333px #ff000d, -2px -116.33333px #ff0048, -88px -95.33333px #00ff80, 145px -287.33333px #00ff2f, 138px -201.33333px #11ff00, -130px -177.33333px #ff1e00, 37px -35.33333px #ff007b, -81px -322.33333px #e6ff00, 207px -191.33333px #c400ff, -68px -100.33333px #ff6200, 77px -95.33333px #f7ff00, -113px -314.33333px #aeff00, -118px -204.33333px #ff2600, 169px -261.33333px #ff3300, -47px -47.33333px #eeff00, 201px -275.33333px #00ff1e, -13px -87.33333px #ffe100, 18px -18.33333px #ff2f00, -51px -242.33333px #04ff00, -202px -62.33333px #009dff, -164px -262.33333px #ff5e00, -236px -216.33333px #91ff00, 201px -176.33333px #2b00ff, -205px -60.33333px #ff0004, 131px -190.33333px #002bff, 37px -194.33333px #ff00ea, 240px -246.33333px #ff4000, -195px -41.33333px #bf00ff, 209px -248.33333px #c800ff, -63px -198.33333px #bf00ff, 104px -191.33333px #ffee00, -72px -235.33333px #fbff00, -113px -80.33333px #0015ff, -133px -38.33333px #00ff62, 95px -301.33333px #7b00ff, 97px -280.33333px #ff1100, -201px -278.33333px #bb00ff, 185px 33.66667px #ff8000, -131px -198.33333px #ff00a2, 223px -155.33333px #00ff88, -216px -278.33333px #0400ff, -118px -254.33333px #ff0088, -152px -256.33333px #ff6a00, -6px -267.33333px #00ff2f, -130px -43.33333px #40ff00, 14px 1.66667px #00ff6a, -123px 47.66667px #73ff00, 13px -128.33333px #0095ff, 138px -306.33333px #ff008c, 222px 46.66667px #a2ff00, 142px 42.66667px #0080ff, -113px -70.33333px #003cff, -200px 13.66667px #f7ff00, 235px -204.33333px #00bbff;
  }
}

@keyframes bang {
  to {
    -webkit-box-shadow: -166px -190.33333px #ff0066, 195px -10.33333px #001eff, 95px -310.33333px #ff0073, 15px 26.66667px #00ff9d, -54px -108.33333px magenta, -239px -206.33333px #00ff44, 113px 20.66667px #00ff73, 94px -149.33333px #ff000d, -2px -116.33333px #ff0048, -88px -95.33333px #00ff80, 145px -287.33333px #00ff2f, 138px -201.33333px #11ff00, -130px -177.33333px #ff1e00, 37px -35.33333px #ff007b, -81px -322.33333px #e6ff00, 207px -191.33333px #c400ff, -68px -100.33333px #ff6200, 77px -95.33333px #f7ff00, -113px -314.33333px #aeff00, -118px -204.33333px #ff2600, 169px -261.33333px #ff3300, -47px -47.33333px #eeff00, 201px -275.33333px #00ff1e, -13px -87.33333px #ffe100, 18px -18.33333px #ff2f00, -51px -242.33333px #04ff00, -202px -62.33333px #009dff, -164px -262.33333px #ff5e00, -236px -216.33333px #91ff00, 201px -176.33333px #2b00ff, -205px -60.33333px #ff0004, 131px -190.33333px #002bff, 37px -194.33333px #ff00ea, 240px -246.33333px #ff4000, -195px -41.33333px #bf00ff, 209px -248.33333px #c800ff, -63px -198.33333px #bf00ff, 104px -191.33333px #ffee00, -72px -235.33333px #fbff00, -113px -80.33333px #0015ff, -133px -38.33333px #00ff62, 95px -301.33333px #7b00ff, 97px -280.33333px #ff1100, -201px -278.33333px #bb00ff, 185px 33.66667px #ff8000, -131px -198.33333px #ff00a2, 223px -155.33333px #00ff88, -216px -278.33333px #0400ff, -118px -254.33333px #ff0088, -152px -256.33333px #ff6a00, -6px -267.33333px #00ff2f, -130px -43.33333px #40ff00, 14px 1.66667px #00ff6a, -123px 47.66667px #73ff00, 13px -128.33333px #0095ff, 138px -306.33333px #ff008c, 222px 46.66667px #a2ff00, 142px 42.66667px #0080ff, -113px -70.33333px #003cff, -200px 13.66667px #f7ff00, 235px -204.33333px #00bbff;
            box-shadow: -166px -190.33333px #ff0066, 195px -10.33333px #001eff, 95px -310.33333px #ff0073, 15px 26.66667px #00ff9d, -54px -108.33333px magenta, -239px -206.33333px #00ff44, 113px 20.66667px #00ff73, 94px -149.33333px #ff000d, -2px -116.33333px #ff0048, -88px -95.33333px #00ff80, 145px -287.33333px #00ff2f, 138px -201.33333px #11ff00, -130px -177.33333px #ff1e00, 37px -35.33333px #ff007b, -81px -322.33333px #e6ff00, 207px -191.33333px #c400ff, -68px -100.33333px #ff6200, 77px -95.33333px #f7ff00, -113px -314.33333px #aeff00, -118px -204.33333px #ff2600, 169px -261.33333px #ff3300, -47px -47.33333px #eeff00, 201px -275.33333px #00ff1e, -13px -87.33333px #ffe100, 18px -18.33333px #ff2f00, -51px -242.33333px #04ff00, -202px -62.33333px #009dff, -164px -262.33333px #ff5e00, -236px -216.33333px #91ff00, 201px -176.33333px #2b00ff, -205px -60.33333px #ff0004, 131px -190.33333px #002bff, 37px -194.33333px #ff00ea, 240px -246.33333px #ff4000, -195px -41.33333px #bf00ff, 209px -248.33333px #c800ff, -63px -198.33333px #bf00ff, 104px -191.33333px #ffee00, -72px -235.33333px #fbff00, -113px -80.33333px #0015ff, -133px -38.33333px #00ff62, 95px -301.33333px #7b00ff, 97px -280.33333px #ff1100, -201px -278.33333px #bb00ff, 185px 33.66667px #ff8000, -131px -198.33333px #ff00a2, 223px -155.33333px #00ff88, -216px -278.33333px #0400ff, -118px -254.33333px #ff0088, -152px -256.33333px #ff6a00, -6px -267.33333px #00ff2f, -130px -43.33333px #40ff00, 14px 1.66667px #00ff6a, -123px 47.66667px #73ff00, 13px -128.33333px #0095ff, 138px -306.33333px #ff008c, 222px 46.66667px #a2ff00, 142px 42.66667px #0080ff, -113px -70.33333px #003cff, -200px 13.66667px #f7ff00, 235px -204.33333px #00bbff;
  }
}

@-webkit-keyframes gravity {
  to {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    -o-transform: translateY(200px);
    -ms-transform: translateY(200px);
    opacity: 0;
  }
}

@keyframes gravity {
  to {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    -o-transform: translateY(200px);
    -ms-transform: translateY(200px);
    opacity: 0;
  }
}

@-webkit-keyframes position {
  0%, 19.9% {
    margin-top: 10%;
    margin-left: 40%;
  }
  20%, 39.9% {
    margin-top: 40%;
    margin-left: 30%;
  }
  40%, 59.9% {
    margin-top: 20%;
    margin-left: 70%;
  }
  60%, 79.9% {
    margin-top: 30%;
    margin-left: 20%;
  }
  80%, 99.9% {
    margin-top: 30%;
    margin-left: 80%;
  }
}

@keyframes position {
  0%, 19.9% {
    margin-top: 10%;
    margin-left: 40%;
  }
  20%, 39.9% {
    margin-top: 40%;
    margin-left: 30%;
  }
  40%, 59.9% {
    margin-top: 20%;
    margin-left: 70%;
  }
  60%, 79.9% {
    margin-top: 30%;
    margin-left: 20%;
  }
  80%, 99.9% {
    margin-top: 30%;
    margin-left: 80%;
  }
}
/*# sourceMappingURL=matchmodal.css.map */