.my-holder{
    z-index: 1000;
    width: 50% !important;
    background-color: black;
}

.text-holder{
    font-family: 'Montserrat', sans-serif;
}

.match-profile-image{
    height: 250px;
    width: 250px;
    border-radius: 300px;
    border-style: solid;
    border: 6px solid whitesmoke;
}

.match-image{
    height: 250px;
    width: 250px;   
    border-radius: 300px;
    border-style: solid;
    border: 6px solid whitesmoke;  
}

.userimage{ 
    border: 6px solid black;
    filter: invert(50);
}

.match-user-image{
    height: 250px;
    width: 250px;
    border-radius: 300px;
    border-style: solid;
    border: 6px solid black;
    filter: invert(50);
}

.redirect-button{
    cursor: pointer;
    font-size: 1.1rem;
    color: #fff;
    outline: none;
    border: none;
    font-weight: 700;
    border-radius: 5px;
    padding-left: 3.4rem;
    padding-right: 3.4rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: rgba(112, 111, 111, 1);
    transition: .25s;
}

.redirect-button:hover {
    background-color: rgb(37, 37, 37);
    color: #00a984;
}

.swipe-button{
    /* display: inline-block; */
    cursor: pointer;
    font-size: 1.1rem;
    color: #fff;
    outline: none;
    border: none;
    font-weight: 700;
    border-radius: 5px;
    padding-left: 3.4rem;
    padding-right: 3.4rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: rgba(112, 111, 111, 1);
    transition: .25s;
}

.swipe-button:hover {
    background-color: rgb(37, 37, 37);
    color: salmon
  }


.hidden{
    display:hidden;
}

@keyframes fadeInAnimation {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
   }
}

.itsamatch{
    font-family: 'Nosifer', cursive;
    font-size: 500%;
}

.match-subtitle{
    font-size: 200%;
    text-transform: uppercase;
}

.match-images {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}


$particles: 60;
$width: 500;
$height: 400;

// Create the explosion...
$box-shadow: ();
$box-shadow2: ();
@for $i from 0 through $particles {
  $box-shadow: $box-shadow,
               random($width)-$width / 2 + px
               random($height)-$height / 1.2 + px
               hsl(random(360), 100, 50);
  $box-shadow2: $box-shadow2, 0 0 #fff
}
@mixin keyframes ($animationName) {
    @-webkit-keyframes #{$animationName} {
        @content;
    }

    @-moz-keyframes #{$animationName} {
        @content;
    }

    @-o-keyframes #{$animationName} {
        @content;
    }

    @-ms-keyframes #{$animationName} {
        @content;
    }

    @keyframes #{$animationName} {
        @content;
    }
}

@mixin animation-delay ($settings) {
    -moz-animation-delay: $settings;
    -webkit-animation-delay: $settings;
    -o-animation-delay: $settings;
    -ms-animation-delay: $settings;
    animation-delay: $settings;
}

@mixin animation-duration ($settings) {
    -moz-animation-duration: $settings;
    -webkit-animation-duration: $settings;
    -o-animation-duration: $settings;
    -ms-animation-duration: $settings;
    animation-duration: $settings;
}

@mixin animation ($settings) {
    -moz-animation: $settings;
    -webkit-animation: $settings;
    -o-animation: $settings;
    -ms-animation: $settings;
    animation: $settings;
}

@mixin transform ($settings) {
    transform: $settings;
    -moz-transform: $settings;
    -webkit-transform: $settings;
    -o-transform: $settings;
    -ms-transform: $settings;
}

.fireworks {
  margin-left: -100%;
  padding:0;
//   background: #003366;
  overflow: hidden;
}

.pyro > .before, .pyro > .after {
  position: absolute;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  box-shadow: $box-shadow2;
  z-index: 10;
  @include animation((1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards));
}
    
.pyro > .after {
  @include animation-delay((1.25s, 1.25s, 1.25s));
  @include animation-duration((1.25s, 1.25s, 6.25s));
}
        
@include keyframes(bang) {
  to {
    box-shadow:$box-shadow;
  }
}
    
@include keyframes(gravity)  {
  to {
    @include transform(translateY(200px));
    opacity: 0;
  }
}
    
@include keyframes(position) {
  0%, 19.9% {
    margin-top: 10%;
    margin-left: 40%;
  }
  20%, 39.9% {
    margin-top: 40%;
    margin-left: 30%;
  }
  40%, 59.9% {  
    margin-top: 20%;
    margin-left: 70%
  }
  60%, 79.9% {  
    margin-top: 30%;
    margin-left: 20%;
  }
  80%, 99.9% {  
    margin-top: 30%;
    margin-left: 80%;
  }
}
