*{
  font-family: 'Montserrat', sans-serif;
}

.moreuser-info-card {
    /* position: flex; */
    /* background-color: rgb(78, 80, 78); */
    position: absolute; 
    // margin-left: 175%;
    left: 175%;
    top: 20%;
    display: flex;
    flex-direction: row;
    background-color: black;
    width: 525%;
    height: 57.5%;
    border-radius: 10px;
    background-size: cover;
    background-position: center;
    /* cursor: pointer; */
    box-shadow: -80px -15px 25px rgba(0, 0, 0, 0.199);
    transition: all .15s;
    /* margin-left: 325px; */
    // margin-top: 95px;
    animation: fadeInAnimation ease .3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
  }

.moreuser-info-img {
    margin-left: -1.5%;
    height: 55vh;
    // width: 460px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    filter: invert(25%);
  }


.moreuser-location-icon-here {
   filter: invert(100%);
   height: 70%;
  }

.moreuser-info-box {
  display: flex;
  justify-content: top, center;
  text-align: center;
  flex-direction: column;
   padding-left: 5%;
  padding-right: 5%; 
}

.moreuser-card-title {
  color: white;
  display: flex;
  justify-content: left;
  font-size: 400%;
  padding-bottom: 0%;
  margin-top: 5%;
  margin-bottom: 1%;
  font-family: 'Montserrat', sans-serif;
}

.moreuser-card-title-long {
  color: white;
  display: flex;
  justify-content: left;
  font-size: 300%;
  padding-bottom: 0%;
  margin-top: 5%;
  margin-bottom: 1%;
  font-family: 'Montserrat', sans-serif;

}

.moreuser-card-location {
margin-top: 2%;
color: white;
display: flex;
justify-content: left;
font-family: 'Montserrat', sans-serif;
width: 75%;
}

.moreuser-card-location-long {
margin-top: 2%;
color: white;
display: flex;
justify-content: left;
font-size: 150%;
}

.moreuser-card-subtitle {
color: white;
display: flex;
justify-content: center;
font-family: 'Montserrat', sans-serif;
}

.moreuser-card-text {
  color: white;
display: flex;
justify-content: left;
margin-top: -0% !important;
font-size: 120%;
font-family: 'Montserrat', sans-serif;
}

.moreuser-close-button {
  font-family: 'Montserrat', sans-serif;
  margin-top: 10%;
  cursor: pointer;
  font-size: 1.1rem;
  color: #fff;
  outline: none;
  border: none;
  font-weight: 700;
  border-radius: 5px;
  padding-left: 3.4rem;
  padding-right: 3.4rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: rgba(111, 111, 111, 1);
  transition: .25s;
  &:hover {
    background-color: rgb(146, 96, 96);
    color: rgb(18, 18, 18);
  }
}




@keyframes fadeInAnimation {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
   }
}