
.text-holder{
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    opacity: 1;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.title-intro{
  margin-top: 2.5%;
  font-size: 225%;
}

.title-logo{
    font-family: 'Nosifer', cursive;
    font-size: 10vh;
    padding-bottom: .5%;
}

.title-subtitle{
  font-size: 130%;
  text-transform: uppercase;
}

.info-text{
  font-size: 120%;
  width: 90%;
  align-self: center;
  margin-bottom: 2.5%;

  & span{
    color:rgb(45, 243, 151);
  }

  &.start{
    margin-top: 1.5%;
    font-size: 110%;
    margin-bottom: 1%;
  }

  &.line{
    font-size: 110%;
    margin-bottom: 1%;
  }

  &.end{
    width: 80%;
    font-size: 145%;
    margin-top: 1.5%;
  }

  &.middle{
    margin-top: 1.5%;
    font-size: 145%;
    font-weight:bold;
  }
}


.info-exit-button{
  cursor: pointer;
  font-size: 130%;
  color: #fff;
  outline: none;
  border: none;
  font-weight: 700;
  border-radius: 2.5px;
  width: 50%;
  margin-bottom: 2.5%;
  padding-top: 1%;
  padding-bottom: 1%;
  align-self: center;
  justify-self: center;
  transition: .25s;
    background-color: rgb(37, 37, 37) !important;
    color: rgb(45, 243, 151) !important;
    // margin-left: 30px !important;
    &:hover {
      color: rgb(194, 51, 35) !important;
  }
}
.infomodal-curtain{
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right:0; 
  background-color: rgba(0, 0, 0, 0.765);
  z-index: 1;
  transition: 1s ease;
  animation: fadeInAnimation ease 1s;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
  
.hidden{
    display:hidden;
    transition: 1s ease;
}



.information-modal-container{
  border-radius: 20px;
  background-color: rgba(0, 0, 0, 0.75);
  width: 47.5%;
  position: absolute;
  animation: fadeInAnimation ease 1s;
  animation-fill-mode: forwards;
  z-index:1000;
  top: 10vh; 
  left: 25vw; 
}
